<!DOCTYPE html>
<html>
<head>
	<title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style type="text/css">
	.kk{
		margin-top: 15%;
	}
	body{
		color: black;
	}
</style>
</head>

<body style="background-color:cyan;">


<center><h1>Django Rest Framework Assignment</h1></center>
<div class="kk", align="center" >
<a href="./students/"><button type="button" class="btn btn-primary" >Students</button></a>
<a href="./racks/"><button type="button" class="btn btn-primary">Racks</button></a>
<a href="./admin/"><button type="button" class="btn btn-primary">Add Data</button></a>

</div>

</body>
</html>